{{ 'component-article-card.css' | asset_url | stylesheet_tag }}
{{ 'section-featured-blogs.css' | asset_url | stylesheet_tag }}


<div class="featured_blog_wrapper">
    <div class="page-width">
        <div class="featured_blog_title_wrapper">
            {% if section.settings.title != blank %}
                <h2 class="featured_blog_title">
                    {{section.settings.title}}
                </h2>
            {% endif %}
            {% if section.settings.btn-name != blank %}
                <div class="featured_blog_btn">
                    <a href="{{section.settings.btn-link}}" class="btn btn-arrow">{{section.settings.btn-name}} {% render 'icon-arrow-right' %}</a>
                </div>
            {% endif %}
        </div>
        <div class="grid-row">
            {% for article in blog.articles limit:3 %}
            <div class="grid-col-lg-4 grid-col-md-6 grid-col-12">
                {% render 'article-card' %}
            </div>
            {% endfor %}
            <div class="grid-col-lg-4 grid-col-md-6 grid-col-12">
                {% render 'article-card' %}
            </div>
            <div class="grid-col-lg-4 grid-col-md-6 grid-col-12">
                {% render 'article-card' %}
            </div>
        </div>
    </div>
</div>




{% schema %}
{
  "name": "Featured blogs",
  "tag": "section",
  "class": "section-featured-blogs",
  "settings": [
    {
        "type":"text",
        "id":"title",
        "label":"Title",
        "default":"From the Blog"
    },
    {
        "type":"text",
        "id":"btn-name",
        "label":"Button Name",
        "default":"View All"
    },
    {
        "type":"url",
        "id":"btn-link",
        "label":"Button Link"
    }
  ],

  "presets": [
    {
      "name": "Featured blogs"
    }
  ]
}
{% endschema %}

